<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script>
        function generatePassword() {
            const length = 12;
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+~`|}{[]:;?><,./-=";
            let password = "";
            for (let i = 0, n = charset.length; i < length; ++i) {
                password += charset.charAt(Math.floor(Math.random() * n));
            }
            document.getElementById('id_password_value').value = password;  // Use 'id_password_value' em vez de 'id_password'
        }
    </script>
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Add Password</h1>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="button" onclick="generatePassword()" class="w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded transition duration-300">Generate Strong Password</button>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded transition duration-300">Add</button>
            </form>
            <a href="{% url 'list_passwords' %}" class="block text-center text-blue-500 mt-4 hover:underline">Back to Passwords</a>
            <div class="mt-4">
                <a href="{% url 'list_passwords' %}" class="w-full inline-block text-center bg-gray-500 hover:bg-gray-600 text-white py-2 rounded transition duration-300">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>