{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-base-100 p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-3xl font-bold mb-6 text-center text-base-content">{% trans "Adicionar Senha" %}</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="form-control">
                <label class="label" for="id_service_name">
                    <span class="label-text">{% trans "Nome do Serviço" %}</span>
                </label>
                <input type="text" name="service_name" id="id_service_name" class="input input-bordered w-full" value="{{ form.service_name.value }}">
            </div>
            <div class="form-control">
                <label class="label" for="id_login">
                    <span class="label-text">{% trans "Login" %}</span>
                </label>
                <input type="text" name="login" id="id_login" class="input input-bordered w-full" value="{{ form.login.value }}">
            </div>
            <div class="form-control">
                <label class="label" for="id_password_value">
                    <span class="label-text">{% trans "Senha" %}</span>
                </label>
                <input type="text" name="password_value" id="id_password_value" class="input input-bordered w-full" value="{{ form.password_value.value }}">
            </div>
            <button type="button" onclick="generatePassword()" class="btn btn-success w-full bg-green-500 hover:bg-green-700 text-white">{% trans "Gerar Senha Forte" %}</button>
            <button type="submit" class="btn btn-primary w-full bg-blue-500 hover:bg-blue-700 text-white">{% trans "Adicionar" %}</button>
        </form>
        <div class="mt-4">
            <a href="{% url 'list_passwords' %}" class="btn btn-secondary w-full">{% trans "Voltar" %}</a>
        </div>
    </div>
</div>
{% endblock %}

<script>
    function generatePassword() {
        const length = 12;
        const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+~`|}{[]:;?><,./-=";
        let password = "";
        for (let i = 0, n = charset.length; i < length; ++i) {
            password += charset.charAt(Math.floor(Math.random() * n));
        }
        document.getElementById('id_password_value').value = password;
    }
</script>