{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gerenciador de Senhas{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const currentTheme = localStorage.getItem('theme') || 'light';
            document.documentElement.setAttribute('data-theme', currentTheme);
        });

        function toggleTheme() {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        }
    </script>
</head>
<body class="bg-base-200">
    <header>
        <!-- ...header content... -->
    </header>
    <main>
        {% block content %}
        <!-- Este bloco será substituído pelo conteúdo dos templates filhos -->
        {% endblock %}
        <button onclick="toggleTheme()">Alternar Tema</button>
    </main>
    <footer>
        <!-- ...footer content... -->
    </footer>
</body>
</html>
