<!-- filepath: /e:/Projetos/password_manager/passwords/templates/edit_password.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-base-100 p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-3xl font-bold mb-6 text-center text-base-content">Editar Senha</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-full bg-blue-500 hover:bg-blue-700 text-white">Salvar</button>
        </form>
        <a href="{% url 'list_passwords' %}" class="block text-center link link-primary mt-4 text-blue-500 hover:text-blue-700">Voltar para Senhas</a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', currentTheme);
    });
</script>
{% endblock %}