<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Welcome to the Password Manager</h1>
            <div class="flex flex-col space-y-4">
                <a href="{% url 'list_passwords' %}" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded text-center transition duration-300">View Passwords</a>
                <a href="{% url 'add_password' %}" class="w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded text-center transition duration-300">Add Password</a>
                <a href="{% url 'logout' %}" class="w-full bg-red-500 hover:bg-red-600 text-white py-2 rounded text-center transition duration-300">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
