{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senhas</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const currentTheme = localStorage.getItem('theme') || 'light';
            document.documentElement.setAttribute('data-theme', currentTheme);
        });

        // Função para gerar uma senha forte
        function generateStrongPassword() {
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_-+=<>?";
            let password = "";
            for (let i = 0; i < 16; i++) { // Definindo um tamanho de senha de 16 caracteres
                const randomIndex = Math.floor(Math.random() * charset.length);
                password += charset[randomIndex];
            }
            document.getElementById("id_password_value").value = password; // Atribui a senha ao campo de senha
        }

        // Função para abrir o modal
        function openAddPasswordModal() {
            const modal = document.getElementById('addPasswordModal');
            modal.showModal(); // Abre o modal
        }
    </script>
 <style>
    .dropdown-content {
        background-color: #3a3a3a; /* Cinza escuro para contraste */
        color: white; /* Texto branco para melhor visibilidade */
    }
    .dropdown-content li a:hover {
        background-color: #575757; /* Cinza mais claro no hover */
        border-radius: 0.375rem; /* rounded */
    }

    /* Aumentar o tamanho do modal */
    dialog.modal {
        width: 80%;  /* Tornar o modal maior (80% da largura da tela) */
        max-width: 600px;  /* Limitar a largura máxima do modal */
        padding: 20px;
    }

    .modal-box {
        width: 100%;
        padding: 20px;
    }

    .form-control input {
        width: 100%;  /* Garantir que os campos de entrada ocupem toda a largura disponível */
    }

    button[type="submit"] {
        margin-top: 10px;  /* Espaçamento entre o botão de enviar e o restante do formulário */
    }
</style>
</head>


<body class="bg-base-200">
    <div class="min-h-screen flex flex-col items-center justify-start pt-4">
        <div class="navbar bg-base-100 w-full max-w-4xl shadow-lg rounded-lg mb-6">
            <div class="flex-1">
                <a href="{% url 'home' %}" class="text-xl font-bold text-base-content">Gerenciador de Senhas</a>
            </div>
            <div class="flex-none">
                <details class="dropdown relative">
                    <summary class="btn m-1">Menu</summary>
                    <ul class="menu dropdown-content rounded-lg z-[1] w-max min-w-[220px] p-4 shadow absolute right-0 mt-2">
                        {% if user.is_superuser %}
                        <li class="w-full"><a href="{% url 'manage_users' %}" class="w-full block p-2 text-left">Gerenciar Usuário</a></li>
                        {% endif %}
                        <li class="w-full"><a href="javascript:void(0);" onclick="openAddPasswordModal()" class="w-full block p-2 text-left">Adicionar Senha</a></li>
                        <li class="w-full"><a href="{% url 'logout' %}" class="w-full block p-2 text-left text-red-500">Logout</a></li>
                    </ul>
                </details>
            </div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="bg-base-100 p-8 rounded-lg shadow-lg w-full max-w-4xl">
            <h1 class="text-3xl font-bold mb-6 text-center text-base-content">Senhas</h1>
            <form method="get" class="mb-6">
                <input type="text" name="q" placeholder="Pesquisar por serviço ou nome" class="input input-bordered w-full">
            </form>

            <div class="flex justify-end mb-4">
                <a href="{% url 'export_passwords' %}" class="btn btn-info bg-blue-500 hover:bg-blue-700 text-white">
                    Exportar para CSV
                </a>
            </div>

            <table class="table w-full bg-base-100 border border-base-300">
                <thead>
                    <tr class="bg-base-300">
                        <th class="py-2 px-4 border-b">Nome do Serviço</th>
                        <th class="py-2 px-4 border-b">Login</th>
                        <th class="py-2 px-4 border-b">Senha</th>
                        <th class="py-2 px-4 border-b">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                        <tr>
                            <td class="border px-4 py-2">{{ password.service_name }}</td>
                            <td class="border px-4 py-2">{{ password.username }}</td>
                            <td class="border px-4 py-2">{{ password.get_password }}</td>
                            <td class="border px-4 py-2">
                                {% if password.pk %}
                                    <a href="{% url 'edit_password' password.pk %}" class="link link-primary">Editar</a>
                                    <a href="{% url 'delete_password' password.pk %}" class="link link-error">Excluir</a>
                                {% else %}
                                    <span class="text-gray-500">Indisponível</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="javascript:void(0);" onclick="openAddPasswordModal()" class="btn btn-primary w-full bg-blue-500 hover:bg-blue-700 text-white mt-4">Adicionar Nova Senha</a>
        </div>
    </div>

    <dialog id="addPasswordModal" class="modal">
        <div class="modal-box w-[80%] max-w-[1000px]">
            <form method="POST" action="{% url 'add_password' %}">
                {% csrf_token %}
                <button type="button" class="btn btn-sm btn-circle btn-ghost btn-close-modal" onclick="document.getElementById('addPasswordModal').close()">✕</button>
                <h3 class="text-lg font-bold">Adicionar Senha</h3>
                <div class="space-y-4">
                    <div class="form-control">
                        <label class="label" for="id_service_name">
                            <span class="label-text">Nome do Serviço</span>
                        </label>
                        <input type="text" name="service_name" id="id_service_name" class="input input-bordered w-full" required>
                    </div>
                    <div class="form-control">
                        <label class="label" for="id_login">
                            <span class="label-text">Login</span>
                        </label>
                        <input type="text" name="username" id="id_login" class="input input-bordered w-full" required>
                    </div>
                    <div class="form-control">
                        <label class="label" for="id_password_value">
                            <span class="label-text">Senha</span>
                        </label>
                        <div class="flex items-center space-x-2">
                            <input type="text" name="password_value" id="id_password_value" class="input input-bordered w-full" required>
                            <button type="button" class="btn btn-sm btn-outline" onclick="generateStrongPassword()">Gerar</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-full bg-blue-500 hover:bg-blue-700 text-white">Adicionar</button>
                </div>
            </form>
        </div>
    </dialog>
</body>
</html>
{% endblock %}
