<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwords</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-4xl">
            <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Passwords</h1>
            <form method="get" class="mb-6">
                <input type="text" name="q" placeholder="Search by service or name" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </form>
            <table class="min-w-full bg-white border border-gray-200">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="py-2 px-4 border-b">Service Name</th>
                        <th class="py-2 px-4 border-b">Login</th>
                        <th class="py-2 px-4 border-b">Password</th>
                        <th class="py-2 px-4 border-b">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                        <tr>
                            <td class="border px-4 py-2">{{ password.service_name }}</td>
                            <td class="border px-4 py-2">{{ password.login }}</td>
                            <td class="border px-4 py-2">{{ password.get_password }}</td>
                            <td class="border px-4 py-2">
                                <a href="{% url 'edit_password' password.pk %}" class="text-blue-500 hover:underline">Edit</a>
                                <a href="{% url 'delete_password' password.pk %}" class="text-red-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_password' %}" class="block text-center text-blue-500 mt-4 hover:underline">Add New Password</a>
            <div class="mt-4">
                <a href="{% url 'home' %}" class="w-full inline-block text-center bg-gray-500 hover:bg-gray-600 text-white py-2 rounded transition duration-300">Voltar para Home</a>
            </div>
        </div>
    </div>
</body>
</html>