{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senhas</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const currentTheme = localStorage.getItem('theme') || 'light';
            document.documentElement.setAttribute('data-theme', currentTheme);
        });
    </script>
</head>
<body class="bg-base-200">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-base-100 p-8 rounded-lg shadow-lg w-full max-w-4xl">
            <h1 class="text-3xl font-bold mb-6 text-center text-base-content">Senhas</h1>
            <form method="get" class="mb-6">
                <input type="text" name="q" placeholder="Pesquisar por serviço ou nome" class="input input-bordered w-full">
            </form>
            <table class="table w-full bg-base-100 border border-base-300">
                <thead>
                    <tr class="bg-base-300">
                        <th class="py-2 px-4 border-b">Nome do Serviço</th>
                        <th class="py-2 px-4 border-b">Login</th>
                        <th class="py-2 px-4 border-b">Senha</th>
                        <th class="py-2 px-4 border-b">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                        <tr>
                            <td class="border px-4 py-2">{{ password.service_name }}</td>
                            <td class="border px-4 py-2">{{ password.login }}</td>
                            <td class="border px-4 py-2">{{ password.get_password }}</td>
                            <td class="border px-4 py-2">
                                <a href="{% url 'edit_password' password.pk %}" class="link link-primary">Editar</a>
                                <a href="{% url 'confirm_delete' password.pk %}" class="link link-error">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_password' %}" class="btn btn-primary w-full bg-blue-500 hover:bg-blue-700 text-white mt-4">Adicionar Nova Senha</a>
            <div class="mt-4 flex justify-start">
                <a href="{% url 'home' %}" class="btn btn-secondary bg-gray-500 hover:bg-gray-700 text-white">Voltar para Início</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}